<div class="container">
    <a class="navbar-brand logo" href="#">MADERA</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only"></span><i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" title="Projet"><a class="nav-link" href="home.html"><i class="fa fa-list-alt"></i><span>Projet</span></a></li>
            <li class="nav-item" title="Client"><a class="nav-link" href="clients.html"><i class="fa fa-users"></i><span>Client</span></a></li>
            <li class="nav-item" title="Devis"><a class="nav-link" href="devis.html"><i class="fa fa-file-text"></i><span>Devis</span></a></li>
            <li class="nav-item logout" title="Se déconnecter"><a class="nav-link" href="#"><i class="fa fa-sign-out"></i></a></li>
        </ul>
    </div>
</div>

<script>
    $(function () {

        // ################## MENU ##################
        // trick pour poser le active du menu sur la bonne page
        let origin = window.location.origin;
        let url = window.location.pathname;
        let urlSplitted = url.split('/')[3];
        $('nav li a[href="' + urlSplitted + '"]').addClass('active');


        // MENU HEIGHT
        let nav = $('.navbar');
        $('.navbar-toggler').on('click', function (e) {
            console.log(e);
            if (nav.hasClass('height-resp')) {
                nav.removeClass('height-resp');
            } else {
                setTimeout(function () {

                    nav.addClass('height-resp');
                }, 200);
            }
        });

    });

</script>