main.home {
  .show-project {
    .generate {
      display: flex;
      justify-content: center;
      margin-top: 2vh;
      button:nth-child(2) {
        margin-left: 15px;
      }
    }
    ul.list-plan {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 2vh;
      li.plan, li.new-plan {
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 5px;
        margin: 15px;
        i {
          position: absolute;
          color: $disc-clear-text;
          font-size: 5em;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          border-radius: 5px;
        }
        p.label {
          position: absolute;
          bottom: 0;
          transform: translate(-50%);
          left: 50%;
          margin-bottom: 0;
          color: $disc-clear-text;
          font-weight: bold;

        }
        &:hover {
          cursor: pointer;
        }
      }
      li.plan {
        i {
          padding: 20px;
          border: 2px solid $disc-dark;
        }
      }
      li.new-plan {
        i {
          padding: 20px 30px;
          border: 5px dashed $disc-dark;
        }
        &:hover {
          background-color: $discord-brand;
          i, .label {
            color: white;

          }
        }
      }
      li.active {
        background-color: $discord-brand;
        i, .label {
          color: white;

        }
      }
    }
  }
}