html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

body {
  @include breakpoint(col-lg) {
    overflow: hidden;
  }
}

main:not(.index) {
  //height: 100vh;
  @include breakpoint(lg) {
    //padding-top: 10vh !important;
  }
}

.btn-primary {
  color: white;
  background-color: orange;
  border: 1px solid grey;
  &:hover {
    border-color: orange;
    background-color: lighten(orange, 10%);
  }
}
