html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  color: $disc-clear-text;
}

body {
  margin: 0;
}

body {
  @include breakpoint(col-lg) {
    overflow: hidden;
  }
}

main {
  background-color: $disc-light;
  height: 100vh; // taille du menu;
    padding-top: 80px !important;
}

.btn-primary {
  color: white;
  background-color: $discord-brand;
  border: 0;
  &:hover {
    background-color: lighten($discord-brand, 10%);
  }
  &:active, &:focus {
    outline:none;
    box-shadow: unset;
  }
}
