$discord-brand: #7289da;
$disc-light: #36393f;
$disc-medium: #2f3136;
$disc-dark: #202225;
$disc-clear-text: #acadaf;
$disc-medium-gray: #535559;
$white-color: white;

@import "mixins";
@import "stylefullpage";
@import "login";
@import "menu";
@import "home";
@import "leftpannel";