<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MADERA</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/sweetalert2.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/jquery.js"></script>
</head>

<body>
<nav class="navbar"></nav>
<main class="devis">
    <section class="leftpannel text-center">
        <select id="select-client" title="Clients">
            <option value="client1">Client 1</option>
            <option value="client2">Client 2</option>
            <option value="client3">Client 3</option>
        </select>
        <select id="select-project" title="Projets">
            <option value="projet1">Projet 1</option>
            <option value="projet2">Projet 2</option>
            <option value="projet3">Projet 3</option>
        </select>
        <button id="scheduled-payment" class="btn btn-primary" title="Plan de paiement du projet sélectionné">Plan de paiement</button>
    </section>
    <section class="rightpannel show-devis">
        <aside class="footer active">
            <div class="buttons">
                <a href="/path/to/pdf" class="btn btn-primary" target="_blank" title="Exporter au format PDF"><i class="fa fa-file"></i> Générer</a>
                <a href="javascript:window.print()" class="btn btn-primary" title="Imprimer le devis"><i class="fa fa-print"></i> Imprimer</a>
            </div>
        </aside>
    </section>
</main>

<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/sweetalert2.js"></script>
<script src="../assets/js/importMenu.js"></script>
<script src="../assets/js/app.js"></script>

</body>
</html>
