<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MADERA</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/sweetalert2.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/jquery.js"></script>
</head>

<body>
<nav class="navbar"></nav>
<main class="home">
    <section class="leftpannel">
        <div class="new add-new-project"><i class="fa fa-plus-circle"></i> Nouveau Projet</div>
        <ul id="projects">
        </ul>
    </section>
    <section class="rightpannel show-project">
        <ul id="plans" class="list-plan">
            <li class="plan" data-date="01/24/2018">
                <i class="fa fa-home"></i>
                <p class="label">Plan 1</p></li>
            <li class="plan" data-date="01/20/2018">
                <i class="fa fa-home"></i>
                <p class="label">Plan 2</p></li>
            <li class="plan" data-date="09/22/2018">
                <i class="fa fa-home"></i>
                <p class="label">Plan 3</p></li>
            <li class="plan" data-date="07/19/2018">
                <i class="fa fa-home"></i>
                <p class="label">Plan 4</p></li>
            <li class="new-plan" data-date="05/16/2018">
                <i class="fa fa-plus"></i>
                <p class="label">Nouveau...</p></li>
        </ul>
        <aside class="footer">
            <i class="fa fa-times-circle close-data"></i>
            <div class="datas">
                <div class="name">Bertrand Quichaud</div>
                <div class="date">01/01/2018</div>
            </div>
            <div class="buttons">
                <button id="edit-plan" class="btn btn-primary">Editer</button>
                <button id="delete-plan" class="btn btn-primary">Supprimer</button>
            </div>
        </aside>
    </section>
</main>

<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/importMenu.js"></script>
<script src="../assets/js/sweetalert2.js"></script>
<script src="../assets/js/app.js"></script>

</body>
</html>
