<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MADERA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=896493e3d7bf61c5a9fe9e1d0b300d21">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css?h=d452ea682e9ce35ab1a665412432f5a0">
    <link rel="stylesheet" href="assets/css/styles.css?h=9cd1c91cda2a8267751a4ec476ee0025">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md" id="main_nav">
            <div class="container-fluid"><button class="navbar-toggler" data-toggle="collapse" data-target="#nav" style="padding: 0px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="fa fa-list-alt"></i></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-users"></i></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-file-text"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script src="assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
    <!--<script src="assets/bootstrap/js/bootstrap.min.js?h=2394c9ffd5558f411ffdc3326e9a8962"></script>-->
</body>

</html>