<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MADERA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=896493e3d7bf61c5a9fe9e1d0b300d21">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css?h=d452ea682e9ce35ab1a665412432f5a0">
    <link rel="stylesheet" href="assets/css/styles.css?h=9cd1c91cda2a8267751a4ec476ee0025">
</head>

<body>
    <div class="login-dark" style="background-image: url(&quot;assets/img/c34ad6222a09347a960d02e979214c33.jpg?h=e58c7dfe1f3ed1b2d1a80ed157bd7fbc&quot;);background-repeat: no-repeat;background-size: auto;background-position: 0% 450%;">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Forgot your email or password?</a></form>
    </div>
    <script src="assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=2394c9ffd5558f411ffdc3326e9a8962"></script>
</body>

</html>